* {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  color: #3c3d3d;
  font-family: "Koburina Gothic Std", sans-serif;
  background-color: #f0f3f5;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
ul > li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.hidden {
  display: none;
}
button {
  background-color: transparent;
  border: 0;
}
img {
  max-width: 100%;
  margin: auto;
  object-fit: cover;
}
@media (max-width: 768px) {
  .pc-only {
    display: none;
  }
}
.sp-only {
  display: none;
}
@media (max-width: 768px) {
  .sp-only {
    display: unset;
  }
}
.container-lg {
  max-width: 1680px;
  margin: auto;
  padding-left: 70px;
  padding-right: 70px;
}
@media (max-width: 768px) {
  .container-lg {
    max-width: 1680px;
    margin: auto;
    padding-left: 16px;
    padding-right: 16px;
  }
}
.container-md {
  max-width: 1440px;
  margin: auto;
  padding-left: 0;
  padding-right: 0;
}
.container-sm {
  max-width: 1280px;
  margin: auto;
  padding-left: 0;
  padding-right: 0;
}
.btn1 {
  position: relative;
  outline: 0;
  padding-left: 20px;
  transform: translateX(-20px);
}
.btn1:hover::before {
  transform-origin: left top;
  transform: scale(0, 1);
}
.btn1:hover > a::after {
  right: -45px;
}
.btn1::before {
  content: "";
  width: calc(100% + 48px);
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: auto;
  background: #8e918c;
  transform-origin: right top;
  transform: scale(1, 1);
  transition: transform 0.3s;
}
.btn1 > a {
  position: relative;
  font-size: 16px;
  line-height: 2em;
  font-weight: 600;
  letter-spacing: 2px;
  color: #8e918c;
}
@media (max-width: 768px) {
  .btn1 > a {
    font-size: 14px;
    line-height: 2em;
    font-weight: 300;
    letter-spacing: 2.2px;
    color: #8e918c;
  }
}
.btn1 > a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -40px;
  transform: translateY(-50%);
  width: 17px;
  height: 17px;
  background: url("assets/images/icons/arrow-right.svg") no-repeat center;
  transition: right 0.3s;
}
@media (max-width: 768px) {
  .btn1 > a::after {
    background: url("assets/images/icons/arrow-right-sp.svg") no-repeat center;
  }
}
.btn2 {
  width: 384px;
  height: 104px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
  flex-wrap: nowrap;
  font-size: 24px;
  line-height: 2em;
  font-weight: 300;
  letter-spacing: 2px;
  color: #3c3d3d;
  background-color: #f0f3f5;
  transition: background-color 0.5s;
}
@media (max-width: 768px) {
  .btn2 {
    width: 100%;
    height: 64px;
    font-size: 16px;
    line-height: 2em;
    font-weight: 300;
    letter-spacing: 1.3px;
    color: #3c3d3d;
  }
}
.btn2:hover {
  background-color: #bcbfc1;
}
.btn3 {
  text-decoration: none;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  font-size: 28px;
  line-height: 2em;
  font-weight: 300;
  letter-spacing: 4.5px;
  color: #f0f3f5;
}
@media (max-width: 768px) {
  .btn3 {
    padding: 5px;
    font-size: 14px;
    line-height: 2em;
    font-weight: 300;
    letter-spacing: 2.2px;
    color: #f0f3f5;
  }
}
.btn3:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}
.btn3::before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: auto;
  background: #f0f3f5;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform 0.3s;
}
.btn4 {
  width: 768px;
  height: 144px;
  background-color: #3c3d3d;
  transition: opacity 0.5s ease;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
  flex-wrap: nowrap;
}
.btn4:hover {
  opacity: 0.9;
}
.btn4:hover > span::after {
  right: -125px;
}
@media (max-width: 768px) {
  .btn4 {
    width: 100%;
    max-width: 326px;
    height: 72px;
  }
}
.btn4 > span {
  display: inline-block;
  position: relative;
  transform: translateX(-12px);
  font-size: 28px;
  line-height: 2em;
  font-weight: 300;
  letter-spacing: 2.2px;
  color: #f0f3f5;
}
@media (max-width: 768px) {
  .btn4 > span {
    transform: translateX(-20px);
    font-size: 14px;
    line-height: 2em;
    font-weight: 300;
    letter-spacing: 1.1px;
    color: #f0f3f5;
  }
}
.btn4 > span::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -120px;
  transform: translateY(-50%);
  width: 56px;
  height: 56px;
  background: url("assets/images/icons/next-btn-icon-fill.svg") no-repeat center;
  background-size: 56px 56px;
  transition: right 0.3s;
}
@media (max-width: 768px) {
  .btn4 > span::after {
    right: -58px;
    width: 34px;
    height: 34px;
    background-size: 34px 34px;
  }
}
.tag {
  font-size: 16px;
  line-height: 2em;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #8e918c;
  padding: 0 24px;
  border: 1px solid #8e918c;
}
.tag.active {
  background-color: #8e918c;
  color: #f0f3f5;
}
div:has(.section-title-dark) {
  position: relative;
}
.section-title-dark {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  flex-wrap: nowrap;
  position: absolute;
  top: -64px;
  left: 109px;
}
@media (max-width: 768px) {
  .section-title-dark {
    top: -64px;
    left: 24px;
  }
}
.section-title-dark p {
  writing-mode: vertical-rl;
}
.section-title-dark p:first-of-type {
  font-size: 20px;
  line-height: 2em;
  font-weight: 600;
  letter-spacing: 3.2px;
  color: #f0f3f5;
}
@media (max-width: 768px) {
  .section-title-dark p:first-of-type {
    font-size: 14px;
    line-height: 2em;
    font-weight: 600;
    letter-spacing: 2.3px;
    color: #f0f3f5;
  }
}
.section-title-dark p:last-of-type {
  font-size: 16px;
  line-height: 2em;
  font-weight: 250;
  letter-spacing: 2.5px;
  color: #f0f3f5;
}
@media (max-width: 768px) {
  .section-title-dark p:last-of-type {
    font-size: 12px;
    line-height: 2em;
    font-weight: 250;
    letter-spacing: 2px;
    color: #f0f3f5;
  }
}
footer {
  padding-top: 160px;
  padding-bottom: 80px;
  background-color: #3c3d3d;
}
@media (max-width: 768px) {
  footer {
    padding-top: 80px;
    padding-bottom: 64px;
  }
}
footer > ul.link-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 64px;
  row-gap: 0px;
}
@media (max-width: 768px) {
  footer > ul.link-list {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    column-gap: 0px;
    row-gap: 16px;
    padding: 0 32px;
  }
}
footer > div.divider {
  max-width: 1676px;
  width: 100%;
  height: 1px;
  background-color: #8e918c;
  margin: 80px auto;
}
@media (max-width: 768px) {
  footer > div.divider {
    max-width: calc(100vw - 32px);
  }
}
footer > div.external-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: nowrap;
}
@media (max-width: 768px) {
  footer > div.external-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-wrap: nowrap;
  }
  footer > div.external-links > a:first-of-type img {
    width: 30px;
  }
  footer > div.external-links > a:last-of-type img {
    width: 112px;
  }
}
footer > ul.page-links {
  padding: 84px 0 160px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 56px;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  footer > ul.page-links {
    padding: 80px 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 0;
    row-gap: 25px;
  }
}
footer > ul.page-links > li {
  margin: auto;
}
footer > ul.page-links > li > a {
  font-size: 20px;
  line-height: 2em;
  font-weight: 300;
  letter-spacing: 3.2px;
  color: #f0f3f5;
}
@media (max-width: 768px) {
  footer > ul.page-links > li > a {
    font-size: 14px;
    line-height: 2em;
    font-weight: 300;
    letter-spacing: 2.2px;
    color: #f0f3f5;
  }
}
footer > div.copyright {
  text-align: center;
  font-size: 16px;
  line-height: 2em;
  font-weight: 300;
  letter-spacing: 2.5px;
  color: #f0f3f5;
}
@media (max-width: 768px) {
  footer > div.copyright {
    font-size: 14px;
    line-height: 2em;
    font-weight: 300;
    letter-spacing: 2.2px;
    color: #f0f3f5;
  }
}
