:root {
  --primary-bg: #3c3d3d;
  --primary-text: #f0f3f5;
  --accent-color: #8e918c;
}

body {
  margin: 0;
  font-family: sans-serif;
}
.close-menu {
  display: flex;
  justify-content: flex-end;
}
.centered {
  display: flex;
  justify-content: center;
}
.catalog-container {
  width: 992px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.desktop-text {
  text-align: center;
}
.footer-nav {
  max-width: 1017px;
  margin: auto;
  padding-top: 84px;
}
.footer-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

a {
  text-decoration: none;
  color: var(--accent-color);
}

.top-button {
  flex: 1;
  text-align: center;
}
.button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

body.menu-open {
  overflow: hidden;
}
.menu-padding {
  padding: 74px 83px 0;
}
.mobile-view {
  display: none;
}

.nav-popup {
  position: relative;
}

.fullscreen-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-image: url(./../assets/images/fixed-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1000;
  display: none;
  padding: 32px;
  height: 100vh;
}

.fullscreen-menu.active {
  display: block;
}

.fullscreen-menu-overlay {
  background: var(--_, #3c3d3d);
  mix-blend-mode: multiply;
  height: 93vh;
}

.fullscreen-menu .content {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
}

.catalog-item {
  width: 384px;
  background-color: white;
  padding: 28px 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 70px 64px 70px;
}

nav {
  width: 100%;
}
.logo-container,
.nav-icons {
  display: flex;
  align-items: center;
}

.nav-icons {
  gap: 72px;
}

.main-title {
  font-size: 184px;
  color: var(--accent-color);
  margin: 0;
  font-weight: 250;
  line-height: 368px;
}

.footer-buttons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.footer-button {
  flex: 1;
  background-color: var(--primary-text);
  padding: 28px;
  text-align: center;
}

.footer-nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  color: var(--primary-text);
  padding: 0;
  margin: 0;
}

.desktop-text {
  display: block;
  margin-left: 20px;
}

.mobile-text {
  display: none;
}

.desktop-footer {
  padding: 160px 20px;
}

.catlog-section {
  margin-bottom: 560px;
}

.catlog-text {
  padding: 200px 0;
}

.top-button {
  padding: 44px;
}

.button-container {
  display: flex;
  align-items: center;
  background-color: #444;
  border-radius: 25px;
  padding: 10px 20px;
  width: fit-content;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-container:hover {
  background-color: #555;
}

.button-text {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  margin-right: 10px;
}

.button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #aaa;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.button-icon svg {
  stroke: #fff;
  width: 16px;
  height: 16px;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.close-menu {
  cursor: pointer;
}

.menu-items {
  padding: 40px;
}

.menu-items ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-items li {
  margin: 20px 0;
  text-align: center;
}

.menu-items a {
  color: var(--primary-text);
  text-decoration: none;
  font-size: 24px;
}

.menu-toggle {
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    padding: 0 32px;
  }
  .mobile-view {
    display: block;
  }
  .header-container {
    padding: 24px 16px;
  }

  .nav-icons {
    gap: 32px;
  }

  .nav-icons img {
    width: 20px;
    height: auto;
  }

  .main-title {
    font-size: 40px;
    line-height: 2em;
    font-weight: 250;
    letter-spacing: 1.44px;
  }

  .catlog-section {
    margin-bottom: 160px;
  }

  .catlog-text {
    padding: 32px 0 56px;
  }

  .top-button {
    padding: 22px;
  }

  .button-container {
    padding: 8px 16px;
  }

  .button-text {
    font-size: 12px;
  }

  .button-icon {
    width: 24px;
    height: 24px;
  }

  .button-icon svg {
    width: 12px;
    height: 12px;
  }

  .desktop-text {
    display: none;
  }

  .mobile-text {
    display: flex;
  }

  .mobile-footer {
    padding: 80px 33px;
  }

  .footer-buttons {
    flex-direction: column;
  }

  .footer-nav ul {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }
}
