.page-header {
  position: relative;
}
.page-header > p {
  opacity: 0.1;
  z-index: -1;
  font-size: 100px;
  line-height: 2em;
  font-weight: 250;
  letter-spacing: 5.52px;
  color: #8e918c;
}
@media (max-width: 768px) {
  .page-header > p {
    font-size: 48px;
    line-height: 2em;
    font-weight: 250;
    letter-spacing: 1.44px;
    color: #8e918c;
  }
}
.page-header > h1 {
  position: absolute;
  bottom: 20px;
  left: 0;
  margin-left: 100px;
  font-size: 64px;
  line-height: 2em;
  font-weight: 600;
  letter-spacing: 1.92px;
  color: #8e918c;
}
@media (max-width: 768px) {
  .page-header > h1 {
    margin-left: 32px;
    bottom: 37px;
    font-size: 20px;
    line-height: 2em;
    font-weight: 600;
    letter-spacing: 0.6px;
    color: #8e918c;
  }
}
.page-header > ul {
  margin-right: 136px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  flex-wrap: nowrap;
}
@media (max-width: 768px) {
  .page-header > ul {
    margin-left: 32px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    flex-wrap: nowrap;
  }
}
@media (max-width: 768px) {
  .page-header > ul > li > img {
    height: 8px;
  }
}
.page-header > ul > li a {
  font-size: 18px;
  line-height: 2em;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #8e918c;
}
@media (max-width: 768px) {
  .page-header > ul > li a {
    font-size: 12px;
    line-height: 2em;
    font-weight: 300;
    letter-spacing: 0.36px;
    color: #8e918c;
  }
}
.section-title > p {
  font-size: 18px;
  line-height: 2em;
  font-weight: 250;
  letter-spacing: 1.4px;
  color: #8e918c;
}
@media (max-width: 768px) {
  .section-title > p {
    font-size: 14px;
    line-height: 2em;
    font-weight: 250;
    letter-spacing: 1.12px;
    color: #8e918c;
  }
}
.section-title > h2 {
  font-size: 32px;
  line-height: 2em;
  font-weight: 300;
  letter-spacing: 1px;
  color: #3c3d3d;
}
@media (max-width: 768px) {
  .section-title > h2 {
    font-size: 24px;
    line-height: 2em;
    font-weight: 300;
    letter-spacing: 0.72px;
    color: #3c3d3d;
  }
}
.company-main section.main-visual > div:not(.page-header) {
  margin-top: 40px;
  margin-left: 240px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 160px;
  flex-wrap: nowrap;
}
@media (max-width: 768px) {
  .company-main section.main-visual > div:not(.page-header) {
    margin-left: 32px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: nowrap;
  }
}
.company-main section.main-visual > div:not(.page-header) > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: nowrap;
}
@media (max-width: 768px) {
  .company-main section.main-visual > div:not(.page-header) > div {
    margin-top: unset;
    gap: 24px;
  }
}
.company-main section.main-visual > div:not(.page-header) > div > p {
  font-size: 16px;
  line-height: 2em;
  font-weight: 300;
  letter-spacing: 2.5px;
  color: #8e918c;
}
@media (max-width: 768px) {
  .company-main section.main-visual > div:not(.page-header) > div > p {
    font-size: 14px;
    line-height: 2em;
    font-weight: 300;
    letter-spacing: 2.24px;
    color: #8e918c;
  }
}
.company-main section.main-visual > div:not(.page-header) > div > ul {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
  flex-wrap: nowrap;
}
@media (max-width: 768px) {
  .company-main section.main-visual > div:not(.page-header) > div > ul {
    gap: 8px;
  }
}
.company-main section.main-visual > div:not(.page-header) > div > ul a {
  white-space: nowrap;
  font-size: 18px;
  line-height: 2em;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #8e918c;
}
@media (max-width: 768px) {
  .company-main section.main-visual > div:not(.page-header) > div > ul a {
    font-size: 16px;
    line-height: 2em;
    font-weight: 300;
    letter-spacing: 0.48px;
    color: #8e918c;
  }
}
.company-main section.message-sec {
  margin: 480px auto 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
  flex-wrap: nowrap;
}
@media (max-width: 768px) {
  .company-main section.message-sec {
    margin: 200px auto 160px;
    padding: 0 40px;
  }
}
.company-main section.concept-sec .section-title {
  padding: 0 240px;
}
@media (max-width: 768px) {
  .company-main section.concept-sec .section-title {
    padding: 0 32px;
  }
}
.company-main section.concept-sec .concept-content {
  margin-top: 96px;
}
@media (max-width: 768px) {
  .company-main section.concept-sec .concept-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    flex-wrap: nowrap;
    margin-top: 32px;
    padding: 0 32px;
  }
}
.company-main section.concept-sec .concept-content > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
  flex-wrap: nowrap;
}
@media (max-width: 768px) {
  .company-main section.concept-sec .concept-content > div:nth-child(odd) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    flex-wrap: nowrap;
  }
}
.company-main section.concept-sec .concept-content > div:nth-child(odd) > img {
  width: calc(880 / 1920 * 100%);
}
@media (max-width: 768px) {
  .company-main
    section.concept-sec
    .concept-content
    > div:nth-child(odd)
    > img {
    width: 100%;
  }
}
.company-main section.concept-sec .concept-content > div:nth-child(odd) > div {
  margin-right: 240px;
}
@media (max-width: 768px) {
  .company-main
    section.concept-sec
    .concept-content
    > div:nth-child(odd)
    > div {
    margin-right: 0;
  }
}
.company-main section.concept-sec .concept-content > div:nth-child(even) {
  transform: translateY(-40px);
}
@media (max-width: 768px) {
  .company-main section.concept-sec .concept-content > div:nth-child(even) {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    flex-wrap: nowrap;
    transform: none;
  }
}
.company-main section.concept-sec .concept-content > div:nth-child(even) > img {
  width: calc(720 / 1920 * 100%);
}
@media (max-width: 768px) {
  .company-main
    section.concept-sec
    .concept-content
    > div:nth-child(even)
    > img {
    width: 100%;
  }
}
.company-main section.concept-sec .concept-content > div:nth-child(even) > div {
  margin-left: 240px;
}
@media (max-width: 768px) {
  .company-main
    section.concept-sec
    .concept-content
    > div:nth-child(even)
    > div {
    margin-left: 0;
  }
}
.company-main section.concept-sec .concept-content > div > img {
  margin: unset;
}
.company-main section.concept-sec .concept-content > div > div {
  max-width: 560px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: nowrap;
}
@media (max-width: 768px) {
  .company-main section.concept-sec .concept-content > div > div {
    gap: 32px;
  }
}
.company-main section.concept-sec .concept-content > div > div > h3 {
  font-size: 24px;
  line-height: 2em;
  font-weight: 300;
  letter-spacing: 0;
  color: #3c3d3d;
}
@media (max-width: 768px) {
  .company-main section.concept-sec .concept-content > div > div > h3 {
    font-size: 18px;
    line-height: 2em;
    font-weight: 300;
    letter-spacing: 0;
    color: #3c3d3d;
  }
}
.company-main section.concept-sec .concept-content > div > div > p {
  font-size: 18px;
  line-height: 2em;
  font-weight: 300;
  letter-spacing: 0;
  color: #3c3d3d;
}
@media (max-width: 768px) {
  .company-main section.concept-sec .concept-content > div > div > p {
    font-size: 14px;
    line-height: 2em;
    font-weight: 300;
    letter-spacing: 0;
    color: #3c3d3d;
  }
}
.company-main section.divider-sec {
  margin: 200px auto 400px;
}
@media (max-width: 768px) {
  .company-main section.divider-sec {
    margin: 160px auto 96px;
  }
}
.company-main section.construction-sec {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 200px;
  flex-wrap: nowrap;
  margin-bottom: 400px;
}
@media (max-width: 768px) {
  .company-main section.construction-sec {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 96px;
    flex-wrap: nowrap;
    margin-bottom: 160px;
  }
}
.company-main section.construction-sec .construction-row {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 0;
  row-gap: 0;
}
@media (max-width: 768px) {
  .company-main section.construction-sec .construction-row:nth-child(odd) {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 96px;
    flex-wrap: nowrap;
  }
  .company-main section.construction-sec .construction-row:nth-child(even) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 96px;
    flex-wrap: nowrap;
  }
}
.company-main
  section.construction-sec
  .construction-row
  > div.construction-txt {
  max-width: 450px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 56px;
  flex-wrap: nowrap;
}
@media (max-width: 768px) {
  .company-main
    section.construction-sec
    .construction-row
    > div.construction-txt {
    gap: 40px;
    padding: 0 32px;
  }
}
.company-main
  section.construction-sec
  .construction-row
  > div.construction-txt
  p {
  font-size: 18px;
  line-height: 2em;
  font-weight: 250;
  letter-spacing: 0;
  color: #3c3d3d;
}
@media (max-width: 768px) {
  .company-main
    section.construction-sec
    .construction-row
    > div.construction-txt
    p {
    font-size: 14px;
    line-height: 2em;
    font-weight: 250;
    letter-spacing: 1.12px;
    color: #3c3d3d;
  }
}
.company-main
  section.construction-sec
  .construction-row
  > div.construction-txt
  h2 {
  font-size: 32px;
  line-height: 2em;
  font-weight: 300;
  letter-spacing: 0.96px;
  color: #3c3d3d;
}
@media (max-width: 768px) {
  .company-main
    section.construction-sec
    .construction-row
    > div.construction-txt
    h2 {
    font-size: 24px;
    line-height: 2em;
    font-weight: 300;
    letter-spacing: 0.72px;
    color: #3c3d3d;
  }
}
.company-main
  section.construction-sec
  .construction-row
  > div.construction-txt
  > div:last-of-type {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: nowrap;
}
.company-main
  section.construction-sec
  .construction-row
  > div.construction-txt
  > div:last-of-type
  > a:first-of-type {
  padding: 0 16px;
  border-bottom: 1px solid #8e918c;
  font-size: 24px;
  line-height: 2em;
  font-weight: 300;
  letter-spacing: 0.72px;
  color: #8e918c;
}
@media (max-width: 768px) {
  .company-main
    section.construction-sec
    .construction-row
    > div.construction-txt
    > div:last-of-type
    > a:first-of-type {
    padding: 0 12px;
    font-size: 18px;
    line-height: 2em;
    font-weight: 300;
    letter-spacing: 0.54px;
    color: #8e918c;
  }
}
@media (max-width: 768px) {
  .company-main
    section.construction-sec
    .construction-row
    > div.construction-txt
    > div:last-of-type
    > a:last-of-type {
    max-width: 112px;
  }
}
.company-main section.company-info {
  background-color: #3c3d3d;
  padding-top: 400px;
}
@media (max-width: 768px) {
  .company-main section.company-info {
    padding-top: 200px;
  }
}
.company-main section.company-info .section-title {
  margin-left: 240px;
}
@media (max-width: 768px) {
  .company-main section.company-info .section-title {
    margin-left: 32px;
  }
}
.company-main section.company-info .section-title p,
.company-main section.company-info .section-title h2 {
  color: #f0f3f5;
}
.company-main section.company-info .company-info-content {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 0;
  row-gap: 0;
  color: #f0f3f5;
  margin-bottom: 240px;
}
@media (max-width: 768px) {
  .company-main section.company-info .company-info-content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
    flex-wrap: nowrap;
    margin-bottom: 96px;
  }
}
.company-main section.company-info .company-info-content > div.info-txt {
  margin: auto 30px auto 100px;
  font-size: 20;
  line-height: 2em;
  font-weight: 300;
  letter-spacing: 0;
  color: #f0f3f5;
}
@media (max-width: 768px) {
  .company-main section.company-info .company-info-content > div.info-txt {
    margin: auto;
    padding: 0 32px;
  }
}
.company-main section.company-info .company-info-content > div.info-txt > p {
  padding: 32px 0;
  border-bottom: 1px solid #8e918c;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 58px;
  flex-wrap: nowrap;
}
@media (max-width: 768px) {
  .company-main section.company-info .company-info-content > div.info-txt > p {
    gap: 24px;
  }
}
.company-main
  section.company-info
  .company-info-content
  > div.info-txt
  > p
  > span {
  display: inline-block;
}
.company-main
  section.company-info
  .company-info-content
  > div.info-txt
  > p
  > span:first-child {
  width: 218px;
}
@media (max-width: 768px) {
  .company-main
    section.company-info
    .company-info-content
    > div.info-txt
    > p
    > span:first-child {
    width: 90px;
  }
}
.company-main
  section.company-info
  .company-info-content
  > div.info-txt
  > p
  > span:last-child {
  width: calc(100% - 218px);
}
@media (max-width: 768px) {
  .company-main
    section.company-info
    .company-info-content
    > div.info-txt
    > p
    > span:last-child {
    width: calc(100% - 90px);
  }
}
.company-main section.staff-sec {
  margin: 400px auto 200px;
}
@media (max-width: 768px) {
  .company-main section.staff-sec {
    margin: 160px auto 104px;
  }
}
.company-main section.staff-sec .section-title {
  text-align: center;
}
.company-main section.staff-sec .staff-row {
  margin-top: 216px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex-wrap: nowrap;
}
@media (max-width: 768px) {
  .company-main section.staff-sec .staff-row {
    margin-top: 80px;
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    flex-wrap: nowrap;
  }
}
.company-main section.staff-sec .staff-row .staff-col {
  width: 363px;
  height: 524px;
  position: relative;
}
@media (max-width: 768px) {
  .company-main section.staff-sec .staff-row .staff-col {
    width: 243px;
    height: 393px;
  }
}
.company-main section.staff-sec .staff-row .staff-col > div:first-of-type {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0;
  flex-wrap: nowrap;
}
@media (max-width: 768px) {
  .company-main section.staff-sec .staff-row .staff-col > div:first-of-type {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    flex-wrap: nowrap;
  }
}
.company-main
  section.staff-sec
  .staff-row
  .staff-col
  > div:first-of-type
  > span {
  writing-mode: vertical-lr;
  font-size: 16px;
  line-height: 2em;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #8e918c;
}
@media (max-width: 768px) {
  .company-main
    section.staff-sec
    .staff-row
    .staff-col
    > div:first-of-type
    > span {
    position: absolute;
    top: 6px;
    left: -6px;
    font-size: 12px;
    line-height: 2em;
    font-weight: 300;
    letter-spacing: 0.36px;
    color: #8e918c;
  }
}
@media (max-width: 768px) {
  .company-main
    section.staff-sec
    .staff-row
    .staff-col
    > div:first-of-type
    > img {
    max-width: 198px;
    margin: auto;
  }
}
.company-main section.staff-sec .staff-row .staff-col > div:last-of-type {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #3c3d3d;
  opacity: 0.9;
  padding: 30px;
  width: 321px;
  height: 224px;
}
@media (max-width: 768px) {
  .company-main section.staff-sec .staff-row .staff-col > div:last-of-type {
    width: 100%;
    max-width: 240px;
    height: auto;
    padding: 24px;
  }
}
.company-main
  section.staff-sec
  .staff-row
  .staff-col
  > div:last-of-type
  > div
  > p {
  font-size: 16px;
  line-height: 2em;
  font-weight: 300;
  letter-spacing: 0;
  color: #f0f3f5;
}
@media (max-width: 768px) {
  .company-main
    section.staff-sec
    .staff-row
    .staff-col
    > div:last-of-type
    > div
    > p {
    font-size: 12px;
    line-height: 2em;
    font-weight: 300;
    letter-spacing: 0;
    color: #f0f3f5;
  }
}
.company-main
  section.staff-sec
  .staff-row
  .staff-col
  > div:last-of-type
  > div
  > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  flex-wrap: nowrap;
}
.company-main
  section.staff-sec
  .staff-row
  .staff-col
  > div:last-of-type
  > div
  > div
  h5 {
  white-space: nowrap;
  font-size: 24px;
  line-height: 2em;
  font-weight: 300;
  letter-spacing: 0.72px;
  color: #f0f3f5;
}
@media (max-width: 768px) {
  .company-main
    section.staff-sec
    .staff-row
    .staff-col
    > div:last-of-type
    > div
    > div
    h5 {
    font-size: 18px;
    line-height: 2em;
    font-weight: 300;
    letter-spacing: 1.44px;
    color: #f0f3f5;
  }
}
.company-main
  section.staff-sec
  .staff-row
  .staff-col
  > div:last-of-type
  > div
  > div
  p {
  white-space: nowrap;
  font-size: 16px;
  line-height: 2em;
  font-weight: 300;
  letter-spacing: 1.3px;
  color: #f0f3f5;
}
@media (max-width: 768px) {
  .company-main
    section.staff-sec
    .staff-row
    .staff-col
    > div:last-of-type
    > div
    > div
    p {
    font-size: 12px;
    line-height: 2em;
    font-weight: 300;
    letter-spacing: 0.96px;
    color: #f0f3f5;
  }
}
.company-main section.staff-sec .staff-row .staff-col > div:last-of-type > p {
  font-size: 16px;
  line-height: 2em;
  font-weight: 300;
  letter-spacing: 0;
  color: #f0f3f5;
  margin-top: 16px;
}
@media (max-width: 768px) {
  .company-main section.staff-sec .staff-row .staff-col > div:last-of-type > p {
    font-size: 12px;
    line-height: 2em;
    font-weight: 300;
    letter-spacing: 0;
    color: #f0f3f5;
  }
}
.company-main
  section.staff-sec
  .staff-row
  .staff-col
  > div:last-of-type
  > p:first-of-type {
  font-size: 16px;
  line-height: 25.6px;
  font-weight: 300;
  letter-spacing: 0;
  color: #f0f3f5;
}
@media (max-width: 768px) {
  .company-main
    section.staff-sec
    .staff-row
    .staff-col
    > div:last-of-type
    > p:first-of-type {
    font-size: 12px;
    line-height: 2em;
    font-weight: 300;
    letter-spacing: 0;
    color: #f0f3f5;
  }
}
.company-main section.contact-sec {
  margin-bottom: 560px;
  text-align: -webkit-center;
}
@media (max-width: 768px) {
  .company-main section.contact-sec {
    margin-bottom: 160px;
  }
}
.company-main section.contact-sec > p {
  font-size: 18px;
  line-height: 2em;
  font-weight: 300;
  letter-spacing: 0;
  color: #3c3d3d;
}
@media (max-width: 768px) {
  .company-main section.contact-sec > p {
    font-size: 16px;
    line-height: 2em;
    font-weight: 300;
    letter-spacing: 0;
    color: #3c3d3d;
  }
}
.company-main section.contact-sec .btn4 {
  margin: 120px auto 200px;
}
@media (max-width: 768px) {
  .company-main section.contact-sec .btn4 {
    margin: 64px auto 104px;
  }
}
.works-main section.works-sec {
  padding: 160px 0;
}
@media (max-width: 768px) {
  .works-main section.works-sec {
    padding: 60px 0 160px;
  }
}
.works-main section.works-sec .category {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 64px;
  flex-wrap: nowrap;
}
@media (max-width: 768px) {
  .works-main section.works-sec .category {
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    flex-wrap: nowrap;
  }
}
@media (max-width: 768px) {
  .works-main section.works-sec .category.active > div {
    background-color: #8e918c;
  }
  .works-main section.works-sec .category.active > div p {
    color: #f0f3f5;
  }
}
@media (max-width: 768px) {
  .works-main section.works-sec .category > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    flex-wrap: nowrap;
    border: 1px #8e918c solid;
    width: 100%;
    padding: 8px 20px;
  }
}
.works-main section.works-sec .category > div > p {
  font-size: 16px;
  line-height: 2em;
  font-weight: 300;
  letter-spacing: 2.56px;
  color: #8e918c;
}
@media (max-width: 768px) {
  .works-main section.works-sec .category > div div.sp-only {
    display: inline-block;
    cursor: pointer;
  }
  .works-main section.works-sec .category > div div.sp-only .bar1,
  .works-main section.works-sec .category > div div.sp-only .bar2 {
    width: 25px;
    height: 2px;
    background-color: #f0f3f5;
    margin: 10px 0;
    transition: 0.4s;
  }
  .works-main section.works-sec .category > div div.sp-only.change .bar1 {
    transform: translate(0, 5px) rotate(-45deg);
  }
  .works-main section.works-sec .category > div div.sp-only.change .bar2 {
    transform: translate(0, -7px) rotate(45deg);
  }
}
.works-main section.works-sec .category > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-wrap: nowrap;
}
@media (max-width: 768px) {
  .works-main section.works-sec .category > ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 8px;
    flex-wrap: nowrap;
    border: 1px #8e918c solid;
    border-top: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }
  .works-main section.works-sec .category > ul.change {
    max-height: 329px;
    padding: 48px 0;
  }
}
@media (max-width: 768px) {
  .works-main section.works-sec .category > ul > li {
    position: relative;
    cursor: pointer;
    padding-left: 40px;
    margin: 0 10px;
    border: 0;
    background-color: unset;
  }
  .works-main section.works-sec .category > ul > li.active {
    color: #8e918c;
  }
  .works-main section.works-sec .category > ul > li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 2px solid #8e918c;
    border-radius: 4px;
    background-color: transparent;
    transition: background-color 0.3s, border-color 0.3s;
  }
  .works-main section.works-sec .category > ul > li.active::before {
    background-color: #8e918c;
    border-color: #8e918c;
  }
}
.staff-col {
  animation: fadeIn 0.5s ease-in-out;
}
.staff-img {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.6s ease-in-out forwards;
}
.staff-img img {
  max-width: 100%;
  border-radius: 10px;
}

.staff-info {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.6s ease-in-out forwards;
  animation-delay: 0.5s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
